* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
    

body {
  font-family: "Source Sans Pro", sans-serif;
}



/* FOR NAVIGATION BAR */
.nav-bar {
  position: sticky;
  top: 0;
  height: 4rem;
  background-color: white;
  transition: all 0.7s ease;
  z-index: 2;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.678);
  overflow-y: hidden;
}

.logo {
  margin: 0px 40px;
}

.logo img {
  height: 3.5rem; 
}

.logo-resp {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 3px;
  /* visibility: visible; */
  opacity: 100%;
  transition: opacity 0.9s ease;
}

.item{
  list-style: none;
  margin: 0px 9px;
  font-family: "Source Sans Pro", sans-serif; 
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease ;
}


.item a {
  color: black;
  text-decoration: none;
  transition: all 0.9s ease;
}

.item a:hover{
  color: rgb(110, 110, 110);
  text-decoration: wavy underline;
  letter-spacing: 3px;

}

.nav-input {
  position: absolute;
  right: 50px;
}

.nav-input input {
  animation: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-animation: none;
  -webkit-animation: none;
  outline: none;
  border: none;
  border-radius: 0px;
  padding: 3px 5px;
  height: 30px;
  border: 3px solid black;
  width: 250px;
}

.nav-input i {
  position: absolute;
  color: white; 
  padding: 5px 6px 0px 6px;
  background-color: black;
  height: 30px;
  width: 30px;
  /* margin: 0px 1px; */
}

.burger {
  display: none;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px;
  transition: all 0.5s ease-in;
}

.line2 {
  opacity: 100%;
  transition: all 0.7s ease-in;
}

/* FOR BACKGROUND IMAGE */
.bg {
  background: url(img/bg.png);
  /* background: rgba(204, 13, 13, 0.582) url(../img/bg.png); */
  max-height: 100%;
  /* min-height: calc(100vh - 4rem - 1.3rem ) ; */
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  display: flex;
  /* background-blend-mode: overlay; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.bg video {
  mix-blend-mode: multiply;
  width: 10%;
  margin: 0px 0px 10px 0px;
}

.bg h1 {
  font-size: 3rem;
  color: white;
  margin: 20px 0px 5px 0px;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.bg p {
  margin: 5px 0px 10px 0px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* FOR MAIN STUFF */
.stuff {
  /* background-color: rgb(40, 42, 53); */
  background: linear-gradient(-90deg,rgb(32, 34, 43),rgb(40, 42, 53));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.678);
}

.name {
  color: white;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name h1 { 
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 7px black;
}

.name p {
  font-size: 1.1rem;
  text-align: center;
}

.name a {
  background: white;
  color: rgb(40, 42, 53);
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: white;
  font-size: 1.1rem;
  margin: 10px 0px 0px 0px;
  padding: 4px 7px;
  border-radius: 25px;
  transition: all 0.2s ease;
}

.name a:hover{
  opacity: 70%;
}

.nameimg{
  background:white url(img/matarani1.jpg); 
  background-size: cover;
  width:  22rem;
  height: 22rem;
  margin: 10px 0px 0px 0px;
  /* border: 2px solid white; */
  /* background-blend-mode: overlay; */
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.616);
  border-radius: 10px;
   
  animation: slider 12s infinite linear;

}

@keyframes slider{
    0%{
        background-image: url(img/matarani1.jpg); 
    }

    35%{
        background-image: url(img/Matarani.jpg);
    }

    75%{
        background-image: url(img/matarani2.jpg);
    }


}

/* FOR MAIN2 SECCTION */
.stuff2{
    background-color: #334756;
    /* background-image: linear-gradient(0deg, #334756,#fF4C29); */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    grid-gap: 2em;
    padding: 2em;
}

/* @keyframes gradient {
    from{
        background-image: linear-gradient(0deg, #334756,#fF4C29);
    }
    
    to{
        background-image: linear-gradient(0deg,#fF4C29,#334756);
    }
} */

.card{
    display: block;
    background-color: tomato;
    color: white;
    padding: 3rem 2rem;
    border-radius: 10px;
}

.card:hover{
    
    box-shadow: 0px 0px 7px 2px rgb(31, 31, 31);
}
.card i{
    font-size: 2rem;
    margin: 0px 0px 7px 0px;
}

.card h1{
    font-size: 2rem;
    /* text-align: center; */
    mix-blend-mode: soft-light;
    text-decoration: underline;
    /* mix-blend-mode: overlay; */
}

.card p{
    font-size: 1rem;
    /* text-align: center; */
  }

  .card a{
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: white;
  font-size: 1.1rem;
  margin: 10px 0px 0px 0px;
  padding: 4px 7px;
  border-radius: 25px;
  transition: all 0.2s ease;
}

.card a:hover{
   opacity: 70%;
}
#contact{
  background-color: rgb(233, 233, 233);
    padding: 10px;
  }
  
  /* FOR CONTACT US */
  #contact h1{
    text-align: center;
    margin: 0px 0px 10px 0px;
    font-size: 2.4rem;
    letter-spacing: 15px;
    text-decoration: underline;
  }
  .contactus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
  }
  
  .contactus a{
    
    text-decoration: none;
    color: white;
    background: #000000;
    font-size: 1.2rem;
    margin: 10px 0px 0px 0px;
    display: block; 
    padding: 5px 5px 5px 11px;
    width: 5rem;
    border-radius: 25px;
    transition: all 0.4s ease
    
  }
  
  .contactus a:hover{
    background-color: rgb(238, 23, 51);
  }
  
  .contactus input{
    animation: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-animation: none;
    -webkit-animation: none;
    outline: none;
    border: none;
    border-radius: 0px;
    padding: 3px 5px;
    height: 30px;
    border: 1px solid black;
    width: 30%;
    margin: 10px;
  }
  
  #discription {
    min-height: 9rem;  
  } 
  
  .socialmedia{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .socialmedia i{
    font-size: 1.9rem;
    margin: 5px 10px;
    transition: all 0.4s ease;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
  }

.socialmedia a {
  text-decoration: none;
  color: #000000;
  display: inline;
}
 
.socialmedia a:hover{
  color: rgb(238, 23, 51);
}


/* FOR FOOTER */
.footer {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center; 
  font-size: 1.3rem;
  height: 3rem;
  padding: 0.7rem 0 0 0;
  background-color: white;
}



/* FOR ANIMATION BACKGROUND */

